@model WebApi_GestionAcademica.Models.Asignacion

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Asignacion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Curso.Codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Curso.Codigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estudiante.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estudiante.Nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AsignacionID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
